<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll" id="client_team1_member_div">
        <h2><b>SSIT 1st Team</b></h2>
        <br>
        <p><b>Supervisor:</b> Department of computer science</p>
        <br>
        <div class="panel panel-info" style="height:190px">
            <div class="panel-heading">
                <h3 class="panel-title">Team members</h3>
            </div>
            <div class="panel-body" style="white-space:pre-line">Team representative: XXX
                Team members: XXX<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;XXX<br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;XXX
            </div>
        </div>
    </div>
    <br>

    <div class="blank-page widget-shadow scroll" id="client_team1_meeting_div">
        <h2><b>Meeting List</b></h2>
        <br>
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading"><b>Client Meeting</b></div>
            <!-- Table -->
            <table class="table">
                <tr>
                    <th></th>
                    <th>Time</th>
                    <th>Place</th>

                </tr>
                <tr>
                    <th>Client Meeting 1</th>
                    <td>01/01/2020 12:00</td>
                    <td>Broad Lane Building LT01</td>

                </tr>
                <tr>
                    <th>Client Meeting 2</th>
                    <td>01/01/2020 12:00</td>
                    <td>Broad Lane Building LT01</td>

                </tr>
                <tr>
                    <th>Client Meeting 3</th>
                    <td>01/01/2020 12:00</td>
                    <td>Broad Lane Building LT01</td>

                </tr>
                <tr>
                    <th>Client Meeting 4</th>
                    <td>01/01/2020 12:00</td>
                    <td>Broad Lane Building LT01</td>

                </tr>
                <tr>
                    <th>Client Meeting 5</th>
                    <td>01/01/2020 12:00</td>
                    <td>Broad Lane Building LT01</td>
                </tr>
            </table>
        </div>
    </div>
    <br>
    <div class="blank-page widget-shadow scroll" id="client_team1_mark_div">
        <div class="blank-page widget-shadow scroll">
            <h3><b>Mark For This Team</b>
                <a href="/client/myteam/teammark">
                    <button class="btn btn-primary btn-flat btn-pri" style="float:right" type="button"><i
                                aria-hidden="true" class="fa fa-plus"></i>Mark
                    </button>
                </a>
            </h3>
        </div>
    </div>
</div>

<%- include('footer') %>
