<%- include('header') %>

<!-- main content start-->
<div id="page-wrapper">
    <div class="blank-page widget-shadow scroll">
        <h2><b>Template Project</b><span class="label label-success"
                                         style="float:right;font-size:15px">Approved</span></h2>
        <br>
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Detail / content / Description</h3>
                </div>
                <div class="panel-body" data-example-id="embedded-scrollspy">
                    <div data-spy="scroll" data-target="#navbar-example2"
                         class="scrollspy-example scroll scrollbar1">
                        <p>This is the template of the project details</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <br>
    <div class="blank-page widget-shadow scroll">
        <h2><b>Allocated Team</b></h2>
        <div class="grid_3 grid_5 widget-shadow">
            <a href="/client/myteam/team_1">
                <div>
                    <h3><b>SSIT Team 1</b></h3>
                </div>
                <div>
                    <table width="100%">
                        <tr>
                            <td width="40%"><p><b>Supervisor:</b> String<span><i class="fa fa-angle-right"
                                                                                 style="float:right;font-size: 20px"/></span>
                                </p></td>
                        </tr>
                        <td width="20em"><p><b>Student:</b>&nbsp student A / Student B / Student C / Student D
                            </p></td>
                        </tr>
                    </table>
                </div>
            </a></div>

        <div class="grid_3 grid_5 widget-shadow">
            <a href="/client/myteam/team_1">
                <div>
                    <h3><b>SSIT Team 2</b></h3>
                </div>
                <div>
                    <table width="100%">
                        <tr>
                            <td width="40%"><p><b>Supervisor:</b> String<span><i class="fa fa-angle-right"
                                                                                 style="float:right;font-size: 20px"/></span>
                                </p></td>
                        </tr>
                        <td width="20em"><p><b>Student:</b>&nbsp student A / Student B / Student C / Student D
                            </p></td>
                        </tr>
                    </table>
                </div>
            </a></div>

        <div class="grid_3 grid_5 widget-shadow">
            <a href="/client/myteam/team_1">
                <div>
                    <h3><b>SSIT Team 3</b></h3>
                </div>
                <div>
                    <table width="100%">
                        <tr>
                            <td width="40%"><p><b>Supervisor:</b> String<span><i class="fa fa-angle-right"
                                                                                 style="float:right;font-size: 20px"/></span>
                                </p></td>
                        </tr>
                        <td width="20em"><p><b>Student:</b>&nbsp student A / Student B / Student C / Student D
                            </p></td>
                        </tr>
                    </table>
                </div>
            </a></div>
    </div>
</div>

<%- include('footer') %>
