<%- include('header') %>

    <!-- main content start-->
    <div id="page-wrapper">
        <div class="blank-page widget-shadow scroll">
            <h2><b>My project</b></h2>
            <br>
            <div class="alert alert-danger" role="alert">You do not have a project currently!</div>

            <div class="blank-page widget-shadow scroll">
                <a href="approved.html">
                    <div>
                        <h3 style="color:black"><b> chucun </b><span class="label label-success"
                                                                      style="float:right;font-size:15px">Approved</span>
                        </h3>
                    </div>
                    <br>
                    <div>
                        <table width="100%">
                            <>
                                <td width="30%"><p><b>Client:</b> String</p></td>\
                                <input name="chucun">sdfdsfdsfsdfsdfds<input>
                                <td width="30%"><p><b>Supervisor:</b> String</p></td>
                                <td width="30%"><p><b>Team:</b> SSIT Team 01</p></td>
                                <td><i class="fa fa-angle-right"
                                       style="float:right;font-size:20px"></i></td>
                            </tr>
                        </table>
                    </div>
                    <br>
                    <div>
                        Here is the overview of the project.
                    </div>
                </a>
            </div>
        </div>
        <br>

        <div class="blank-page widget-shadow scroll">
            <h2><b>All Projects</b></h2>
            <br>
            <div class="blank-page widget-shadow scroll">
                <a href="approved.html">
                    <div>
                        <h3 style="color:black"><b>Project 1</b><span class="label label-success"
                                                                      style="float:right;font-size:15px">Approved</span>
                        </h3>
                    </div>
                    <br>
                    <div>
                        Here is the overview of the project.<i class="fa fa-angle-right"
                                                               style="float:right;font-size:20px"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>

<%- include('footer') %>
